<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
        
          
    

        
        Expand All
    
    @@ -16,13 +15,7 @@ <h1> AI rena 회원가입 인증 메일입니다. </h1>
  
    <h1> AI rena 회원가입 인증 메일입니다. </h1>
    <div>
        <img id = "logoImage" src="cid:logoImage">
        <div style="margin-bottom: 10px;">AI rena 회원가입을 진심으로 환영합니다.</div>
        <div style="margin-bottom: 10px;">AI rena에서는 무궁무진한 퀴즈들을 직접 만들고 즐길 수 있습니다.</div>
        <div style="margin-bottom: 10px;">다양한 퀴즈를 만들고 친구들과 공유하여 순위를 매겨보세요!</div>
        <p>
            아래 확인 버튼을 눌러서 가입을 이어서 진행할 수 있습니다. </br>
        </P>
        <a href="{{verifyUrl}}" style="display: inline-block; padding: 10px 20px; background-color: #9DEBE3; color: #374151; text-decoration: none; border-radius: 5px; text-align: center;">
            가입 확인
        </a>
        <p>
            가입하는 당사자가 아니거나, 가입에 문제가 있을 경우 아래의 메일로 연락바랍니다.
        </p>
        <p>
            <a href = "airena.sup@gmail.com"> AI-rena 관리자 </a>
        </p>
    </div>
</body>
</html>